body{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,ffffff+50 */
/* background: linear-gradient(to bottom,  #1e5799 0%,#ffffff 50%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
background: linear-gradient(-30deg, white 90%, #0891b2 10%);
width: 100%;
height: 100%;
margin: 0;
padding: 0;
color: dimgrey;

    
}
footer{
    box-sizing:border-box; 
    background-color: #0891b2;
    margin: 0; padding: 5vw;
    width: 100%;
    color: white;
}
footer h1{
    color: white;
    text-align: center;
}
footer p{
    width: 100%;
}
main{
    text-align: center;
}
header{
    font-size: large;
    padding: 0px;
    margin: 5vw;
}
h1, h2, h3, h4, h5, h6{
    color: black;
}
.icon{
    width: 20px;
    margin-left: 20px;
}
.introPhoto{
    width: 80vw;
    height: auto;
}
.headerImage{
    position: relative;
    text-align: center;
}
.headerImageText{
    
    color: white;
    font-family: Roboto slab;
    font-size: 10vh;
    line-height: 0.9;
    position: absolute;
    left: 10vw;
    bottom: 5vw;
}
.headerTitle{
    text-align: center;
    font-size: 10vw;
    color: black;
    
}
.iconContainer{
    display: flex;
    justify-content: center;
}
.projectImage{
    width: 100%;
    height: auto;
}
.cardContainer{
    display: grid;
}
.card{
    margin: 4vw;
    padding: 3vw;
    margin-bottom: 15vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardTitle{
    text-align: center;
}
#grid-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
    min-height: 100svh;
}
@media screen and (min-width: 800px) {
    .cardContainer{
        grid-template-rows: repeat(3, minmax(280px, 1fr));
        grid-auto-flow: column;
    }    
}